<section id="thewedding"class="section-events">
	<div class="row">
		<div class="left">
			<div class="leftwrap">
				<h1 class="breakhead">The</h1>
				<h1 class="breakhead">Wedding</h1>
				<div class="innerrow">
					<div class="innerleft">
						<h3 id="when">WHEN</h3>
						<div class="info">
							<p>Monday, July 3, 2017</p>
							<p>Wedding Ceremony: 120:00pm</p>
						</div>
					</div>
					<div class="innerright">
						<h3 id="where">WHERE</h3>
						<div class="info">
							<p>Blah Blah temple</p>
							<p>Chennai, Tamilnadu</p>
						</div>
					</div>
				<!--h3 id="about-me">The Wedding</h3>-->
			</div>
	
				</div>	
		</div>
		
		<div class="right" style="pointer-events: none;">
			<div id="cont_3f08dd8c7893d50c153940ce6af1c953" style="pointer-events: none;"><script type="text/javascript" async src="https://www.theweather.com/wid_loader/3f08dd8c7893d50c153940ce6af1c953"></script></div>
		</div>	
	</div>
	

</section>