<!-- <div style="clear: both;"></div> -->
<section class="alt-section section-work">
	<h3 id="cal">Events</h3>
	<div class="work-belt">

		<div class="thumb-wrap">
			
				<div class="thumb-container">
					{% for event in site.data.portfolio.events %}
						<a href="{{ project.link }}" class="thumb-unit">
							<time datetime="2014-09-20" class="icon">
							  <em>{{ event.day }}</em>
							  <strong>{{ event.month }}</strong>
							  <span>{{ event.date }}</span>
							</time>

							<div class="thumb-overlay">
								<p><strong>{{ event.name }}</strong><d style="color: white;font-size: 28px";><sup>{{event.time}}</sup></d></p>
								
							</div>
						</a>
					{% endfor %}

				</div>
			
		</div>
	

		

	</div>



</section>

<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <script src="assets/js/jquery-2.1.1.min.js"></script> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="assets/css/fonts/css/font-awesome.min.css"> -->


</head>


<section id="mobile-cal">

    <section class="middle tab-bar-section">      
      <div id="fittext-header" style="margin:0 auto; width: 100%;">
        <h3 class="nav-title main-section-title overflow-safety even">Events</h3>
      </div>
    </section>

<section class="main-section" >
  <div class="mobile-page" id="schedule-page" style="min-height: 523px; display: block;">
    <section id="schedule">
      <div class="row">
        <p class="page-title">Schedule</p>
      </div>

  <div class="schedule-page1 row">
    <div class="contain">
      <div class="small-12 columns centered event-container rotate" style="">
        <h2 class="schedule-title" style="line-height:1em">Ring Ceremony + Sangeet</h2>
        <p class="schedule-date">
          Saturday
          July 1,
          7:00pm
        </p>
        <div class="chevron chevron-right rot" style="top:1.4rem;right:0.8rem;position:absolute;"></div>
      </div>

      <div class="event-info clearfix" style="display: none;">
        <div class="small-4 columns">
            <img src="assets/img/places/mobile/residency.jpg" alt="Placeholder" height="63" width="95" >
        </div>

        <div class="small-8 columns event-text">
          <div class="row">
            <div class="small-12">
              <span class="venue">Hotel Residency Towers T.Nagar Chennai-17</span>
            </div>

              <div class="small-12">
                <a href="https://goo.gl/maps/hPXxLGHyqsG2/" target="_blank" class="button address">View on Map</a>
              </div>

              <!-- <div class="small-12 columns no-space">
                <span class="" style="font-weight:bold;">Attire</span>
              </div>
              <div class="small-12 columns no-space">
                <span class="attire">Whatever is left in your luggage.</span>
              </div> -->
          </div>
        </div>

        <div class="small-12 columns no-space">
          <p class="copy">An evening of food, spirits, music, and dance to celebrate the union of families and close friends.</p>
        </div>
      </div>
    </div>
    <div class="contain">
      <div class="small-12 columns centered event-container rotate" style="">
        <h2 class="schedule-title" style="line-height:1em">Reception Of Barat + Anand Karaj</h2>
        <p class="schedule-date">
          Sunday
          July 2,
          10:30am
        </p>
        <div class="chevron chevron-right rot " style="top:1.4rem;right:0.8rem;position:absolute;"></div>
      </div>

      <div class="event-info clearfix" style="display:none;">
        <div class="small-4 columns">
          <img src="assets/img/places/mobile/clg.jpeg" alt="Placeholder" height="63" width="95">
        </div>

        <div class="small-8 columns event-text">
          <div class="row">
            <div class="small-12">
              <span class="venue">Gurudwara Gurunanak College, Velachery, Chennai</span>
            </div>

              <div class="small-12">
                <a href="https://goo.gl/maps/8jGMeMNVazm" target="_blank" class="button address">View on Map</a>
              </div>

              <!-- <div class="small-12 columns no-space">
                <span class="" style="font-weight:bold;">Attire</span>
              </div> -->
              <!-- <div class="small-12 columns no-space">
                <span class="attire">Whatever is left in your luggage.</span>
              </div> -->


          </div>
        </div>

        <div class="small-12 columns no-space">
          <p class="copy">This is the formal part of the ceremony which always takes place in a Gurdwara. You will be expected to sit on the carpeted floor for at least 45 minutes. It comprises of the following functions: <br><br>
              a. Kirtan - The singing of the Holy Hymns - Gurbani. <br>
              b. Ardas – Key People will stand straight with folded hands and join in this prayer. <br>
              c. Palla - The bride's father will formally hand the end of the sash, which the bridegroom wears over his shoulder into the hands of the bride  <br>
              d.  Laava – The Bride and Groom will walk in tow around the SGGS four times. <br>
              e. Next up is Ardas followed by Sagaan and Kara Parshad</p>
        </div>
      </div>
    </div>
    <div class="contain">
      <div class="small-12 columns centered event-container rotate" style="">
        <h2 class="schedule-title" style="line-height:1em">Lunch</h2>
        <p class="schedule-date">
          Sunday
          July 2,
          1:30pm
        </p>
        <div class="chevron chevron-right rot " style="top:1.4rem;right:0.8rem;position:absolute;"></div>
      </div>

      <div class="event-info clearfix" style="display:none;">
        <div class="small-4 columns">
            <img src="assets/img/places/mobile/l_mandap.jpg" alt="Placeholder" height="63" width="95">
        </div>

        <div class="small-8 columns event-text">
          <div class="row">
            <div class="small-12">
              <span class="venue">Sri Raghavendra Kalyana Mandapam,40 Vishwanathpuram Main Road, Kodambakka, Chennai 60024</span>
            </div>

              <div class="small-12">
                <a href="https://goo.gl/maps/HirgmZSQYnM2" target="_blank" class="button address">View on Map</a>
              </div>

     <!--          <div class="small-12 columns no-space">
                <span class="" style="font-weight:bold;">Attire</span>
              </div>
              <div class="small-12 columns no-space">
                <span class="attire">Whatever is left in your luggage.</span>
              </div> -->


          </div>
        </div>

        <div class="small-12 columns no-space">
          <p class="copy">Just good food and good wishes.</p>
        </div>
      </div>
    </div>
    <div class="contain">
      <div class="small-12 columns centered event-container rotate" style="">
        <h2 class="schedule-title" style="line-height:1em">Reception</h2>
        <p class="schedule-date">
          Sunday
          July 2,
          7:00pm
        </p>
        <div class="chevron chevron-right rot" style="top:1.4rem;right:0.8rem;position:absolute;"></div>
      </div>

      <div class="event-info clearfix" style="display: none">
        <div class="small-4 columns">
            <img src="assets/img/places/mobile/l_mandap.jpg" height="63" width="95">
        </div>

        <div class="small-8 columns event-text">
          <div class="row">
            <div class="small-12">
              <span class="venue">Sri Raghavendra Kalyana Mandapam,40 Vishwanathpuram Main Road, Kodambakka, Chennai 60024</span>
            </div>

              <div class="small-12">
                <a href="https://goo.gl/maps/HirgmZSQYnM" target="_blank" class="button address">View on Map</a>
              </div>

              <!-- <div class="small-12 columns no-space">
                <span class="" style="font-weight:bold;">Attire</span>
              </div>
              <div class="small-12 columns no-space">
                <span class="attire">Whatever is left in your luggage.</span>
              </div> -->


          </div>
        </div>

        <div class="small-12 columns no-space">
          <p class="copy">We welcome you to meet and greet the couple, meet other friends for an intimate gathering and grand celebration with soulful instrumental fusion music to fill you hearts with joy and faces with smiles. A feast to your ears would be incomplete without a feast for your stomach ! Come and explore the exhilarating range of crowd favourite small bites and variety of spice infused bright flavoured fusion of South and North Indian food. </p>
        </div>
      </div>
    </div>
    <div class="contain">
      <div class="small-12 columns centered event-container rotate">
        <h2 class="schedule-title" style="line-height:1em">Muhurtham</h2>
        <p class="schedule-date">
          Monday
          July 3,
          6:00am
        </p>
        <div class="chevron chevron-right rot" style="top:1.4rem;right:0.8rem;position:absolute;"></div>
      </div>

      <div class="event-info clearfix" style="display: none;">
        <div class="small-4 columns">
            <img src="assets/img/places/mobile/l_mandap.jpg" alt="Placeholder" height="63" width="95">
        </div>

        <div class="small-8 columns event-text">
          <div class="row">
            <div class="small-12">
              <span class="venue">Sri Raghavendra Kalyana Mandapam,40 Vishwanathpuram Main Road, Kodambakka, Chennai 60024</span>
            </div>

              <div class="small-12">
                <a href="https://goo.gl/maps/HirgmZSQYnM2" target="_blank" class="button address">View on Map</a>
              </div>

              <!-- <div class="small-12 columns no-space">
                <span class="" style="font-weight:bold;">Attire</span>
              </div>
              <div class="small-12 columns no-space">
                <span class="attire">Whatever is left in your luggage.</span>
              </div> -->


          </div>
        </div>

        <div class="small-12 columns no-space">
          <p class="copy">We welcome you to participate in the wedding ceremony - <br><br>

Kalyanam beginning with Mangala Issai (traditional music) of Nathaswaram and Melam (Wind & Percussion instruments), <br><br>

Kanyadhanam - to symbolize that Vigna would receive Aman as a precious gift and soulful partner through their parents. <br><br>

Mangalya Dharanam (tying of the sacred thread amid chanting of mantras) and the three knots symbolising the bond between the bride and groom and the families amidst the shower of tumeric soaked rice (Akshadhai) as blessing from elders which translates to "May you live and enjoy a hundred autumns together" <br><br>

Maalai Maathal (Exchange of Garlands) between bride & groom <br><br>

Saptapati (Seven steps around the fire) signifying :- <br>

-To Nourish each other <br>
-To grow together in strength <br>
-To share our joys and sorrows <br>
-To preserve and grow the wealth & prosperity <br>
-To care for the children <br>
-To care for the parents <br>
-To be together and remain friends forever <br>
</p>
        </div>
      </div>
    </div>
    <div class="contain">
      <div class="small-12 columns centered event-container rotate" style="border-bottom: 0px solid #000;">
        <h2 class="schedule-title" style="line-height:1em">Reception</h2>
        <p class="schedule-date">
          Thursday
          July 6,
          8:00pm
        </p>
        <div class="chevron chevron-right rot" style="top:1.4rem;right:0.8rem;position:absolute;"></div>
      </div>

      <div class="event-info clearfix" style="display: none;">
        <div class="small-4 columns">
            <img src="assets/img/places/mobile/l_sayajee.jpg" alt="Placeholder" height="63" width="95">
        </div>

        <div class="small-8 columns event-text">
          <div class="row">
            <div class="small-12">
              <span class="venue">Hotel Sayajee VanVihar Road, Bhopal</span>
            </div>

              <div class="small-12">
                <a href="https://goo.gl/maps/jeLpedLgLWx" target="_blank" class="button address">View on Map</a>
              </div>

              <!-- <div class="small-12 columns no-space">
                <span class="" style="font-weight:bold;">Attire</span>
              </div>
              <div class="small-12 columns no-space">
                <span class="attire">Whatever is left in your luggage.</span>
              </div> -->


          </div>
        </div>

        <!-- <div class="small-12 columns no-space">
          <p class="copy">Starts promptly at 8:00 PM. Dinner will be served buffet style, and will be interrupted possibly by laughter and a few tears. After our bellies are full, there will be dancing , kicked off by the couple. And you will dance till your feet start to ache from the sheer awesomeness of your dance moves. After that we will run away in a cloud of bubbles and you can vacate the premis for activities of your choice.</p>
        </div> -->
      </div>
    </div>
      <div class="small-12 columns last-div"></div>
  </div>
</section>
</div>
</section>
</section>
