
<section id="RSVP">

  <h3>RSVP FORM</h3>
<!-- <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='form-success.html';}"></iframe> -->

<!-- <form method="POST" action="https://docs.google.com/forms/d/e/1FAIpQLSe6VGvoGdRYWw8dbSP1ZW30b9VA-dqTReTBYPtCCFe7_4g9Ug/formResponse" target="hidden_iframe" onsubmit="submitted=true;"> -->

<form method="POST" action="https://docs.google.com/forms/d/e/1FAIpQLSe6VGvoGdRYWw8dbSP1ZW30b9VA-dqTReTBYPtCCFe7_4g9Ug/formResponse">

  <fieldset class="contact-info-group">
    

    <label><span>Your Name</span>
    <input type="text" name="entry.206811710"></label>

    <label><span>Your Phone Number</span>
    <input type="tel" name="entry.159223749"></label>


    <!-- <p id="form-quiz">Are you coming?</p> -->
    <label><span>Yes, I'll be there!</span>
    <input type="radio" name="entry.737636163" value="Yes, I'll be there!"/></label>
    <label><span>Sorry, I'm going to miss it.</span>
    <input type="radio" name="entry.737636163" value="Sorry, I'm going to miss it."/></label>


    <!-- DATE INPUT -->
  <label><span>Arrival Date<span>
  <input name="entry.1343692322" type="date"></label>

  <!-- TIME INPUT -->
  <label><span>Arrival Time<span>
  <input name="entry.856483357" type="time"></label>

  <label><span>Departure Date<span>
  <input name="entry.1597637995" type="date"></label>

  <!-- TIME INPUT -->
  <label><span>Departure Time<span>
  <input name="entry.1114279624" type="time"></label>

  <!-- <label><span></span>
  <textarea name="message"></textarea></label> -->

  <fieldset class="submit-wrap">
    <input type="submit" value="Send">
  </fieldset>

  </fieldset>


  

</form>

</section>

