selection#mobile
	display: none
.section-events
	background-color: #e1c184
	margin-top: 40px
	
	
	.breakhead
		font-size: 50px
		text-align: center
		text-transform: uppercase
		color: white
		margin: 0
		
	
	.row
		+clearfix
		.left
			width: 60%
			float: left
			.leftwrap
				margin: 0px auto
			.innerrow
				margin-top: 50px
				margin-bottom: 50px
				h3
					color: black
					padding: 0px
					font-size: 26px
				+clearfix
				.innerleft
					border-right: black 2px solid
					padding-right: 50px
					box-sizing: border-box
					text-align: right
					width: 50%
					float: left
					#when
						text-align: right
				.innerright
					box-sizing: border-box
					padding-left: 50px
					text-align: left
					width: 50%
					float: right
					#where
						text-align: left
		.right
			width: 40%
			float: right

@media (max-width: 753px)
	selection#mobile
		display: block
		#cont_cb2b792c316743129afbb522a92cdfbb
			height: 150px
			width: 410px
			display: flex
			align-items: center
			justify-content: center
	.right
		display: none
	.section-events .row .left
		width: 100%
		
	
			
				
			

			
		