header
	background-color: #c99065
	padding-bottom: 10px


	.logo
		+size(50px)
		
		float: left
		margin: 10px 0 0 30px

		path
			fill: rgba(0,0,0,0.7)


	nav
		float: right
		padding: 30px 30px 0 0

		a
			display: inline-block
			margin-left: 20px
			color: rgba(0,0,0,0.7)
			text-decoration: none
			h3
				font-size: 14px
				font-weight: 700
				text-transform: uppercase

			&:hover
				color: rgba(0,0,0,1)

	h1
		font:
			size: 72px
			weight: 700
		color: white
		text-transform: uppercase
		letter-spacing: .05em
		text-align: center
		margin-bottom: 20px
		clear: both
		padding-top: 100px

		span
			display: inline-block
			border: white solid 10px
			padding: 0.2em 0.7em

	.kicker
		text-align: center
		@extend %small-bold
		color: white
		letter-spacing: 0.05em
		font-size: 14px
		line-height: 1

@media (max-width: 640px)
	header
		background-position: 50% 20px, 50% 50%

		nav
			float: none
			text-align: center
			font-size: 14.2px

		h1
			padding-top: 0px







